/*For Angular ui-select*/
@import "http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css";
@import "http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css";

/*====================
 * =all
 *====================
*/
a {
  text-decoration: none;
}

/*====================
 * =wrapper+footer
 *====================
*/

.pageWrapper {
  margin-top: 50px;
  margin-bottom: -50px;
  min-height: 600px;
}

.pageWrapper:after {
  content: "";
  display: block;
}

footer, .pageWrapper:after {
  height: 50px;
}

footer {
  border-top: 1px solid #e7e7e7;
  color: #555;
}

/*====================
 * =taces navbar ui-select
 *====================
*/

.reports {
  float: left;
  min-width: 350px;
  margin: -5px 0 -10px;
}

.reports li a {
  background: #fff;
}

/*====================
 * =middle
 *====================
*/

.sidebar {
  display: inline-block;
  max-width: 280px;
  height: 100%;
}

.sidebar ul {
  padding-left: 12px;
  list-style: none;
}

.top-pagination {
  margin-bottom: 20px;
}
ul.pagination {
  padding-left: 0;
}

a.plot-link {
  color: #337ab7;
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px;
}

a.plot-link.active {
  /*https://css-tricks.com/pointer-events-current-nav/*/
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: #337ab7;
  color: #fff;
}

.sidebar p {
  margin: 5px 0;
  line-height: 1em;
}

.content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .content {
    position: fixed;
    width: 516px;
  }

  .sidebar ul {
    display: block;
  }
}

@media (min-width: 992px) {
  .content {
    width: 718px;
    margin-left: 18px;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 918px;
  }
}

.plot {
  width: 100%;
  height: 400px;
}

.plot-block {
  margin-left: -10px;
  display: inline-block;
  width: 300px;
  height: 400px;
}

 /*
 from http://angular-ui.github.io/
 -------------------------
 */

/*Contextual colors*/
.text-muted {
  color: #777;
}

.text-link {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 2.6em;
  font-weight: bold;
}

.remove-report {
  margin-left: 10px;
}

/*Page header*/
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.search-box {
  max-width: 20em;
  display: inline-block;
  margin-right: 10px;
}
/*highlight property*/
.property {
  padding-left: 7px;
}
.highlighted {
  font-weight: bold;
  color: red;
}
/*toggle guides*/
.toggleGuide {
  float: right;
  margin: 5px 15px -20px 0;
}
.btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.btn:focus,.btn:active:focus,.btn.active:focus {
  outline: none;
}
.btn.btn-green {
  background-color: rgba(153, 255, 153, 0.5);
}
.btn.btn-red {
  background-color: rgba(153, 51, 153, 0.5);
}
.btn.btn-yellow {
  background-color: rgba(255, 212, 128, 0.5);
}
